# The base directory where all PotatoFS-related data will be stored.
# It's recommended that this be on its own partition.
data_dir: /var/potatofs

# The path to the socket used for communication between the FUSE
# process and the backend manager process.
mgr_socket_path: /var/potatofs/potatomgr.sock

# The backend script. See the mgr.pl.sample for a proof-of-concept
# implementation.
backend: /usr/local/bin/backend.sh

# See config.h for explanations
slab_max_age: 300
unclaim_purge_threshold_pct: 90
purge_threshold_pct: 60
noatime: yes
