# The backend will exit after this many seconds of inactivity. This also
# limits how far in the future we can make guesses for slab preloading when
# the backend is idle. Because the backend will exit after this much idle time,
# the state of which slab was last loaded is lost.
idle_timeout_seconds = 300

# The path for the hints database, containing information about the sequence
# in which slabs are typically loaded. This DB is used to make guesses and
# try to load slabs preemptively.
hints_database_path = "/var/potatofs_test/backend_s3_hints.db"

# When computing the time that passed between loading two slabs in a sequence,
# decrease the computed time by this many milliseconds. This way we can give
# us a bit of time to download the slab ahead of it being used, hopefully.
hint_skew_ms = 5000

# How many hints can be queued for preloading. This is mostly to keep memory
# usage under control and possibly avoid trying to preload too many things
# when a large chain of slab hints is triggered.
hints_preload_queue_size = 10000

# We want to keep a limit over how many slabs to preload for each hint, both
# to keep the DB size under control, but also because preloading is
# exponential by that factor. Each time we load a slab, we could end up
# doing claims for this many slab.
max_preload_per_hint = 5

s3_endpoint = "some.s3.endpoint"
s3_bucket = "some_bucket"
s3_region = "us-east-1"

# syslog mimimum log level. Priorities lower than this are silently
# discarded.
log_level = "notice"

# S3 credentials
access_key_id = "some id"
secret_access_key = "some key"

# Unix socket path to communicate with the background child that keeps
# our S3 session active.
socket_path = "/var/potatofs_test/.backend_s3.sock"

# Because this backend has infinite capacity, put a cap to it so we can
# correctly compute how much capacity our filesystem has.
# Here is 1TB.
backend_bytes = 1099511627776

# Timeout for S3 operations. Needs to be a bit longer than the
# potatofs backend timeout so we can properly receive the signal.
backend_timeout_seconds = 65

# Encryption/decryption key path
backend_secret_key_path = "/var/potatofs_test/secret"

# The command to preload slabs as predicted by the hints database. This should,
# for now, always point to the right "potatoctl -c <conf> claim <ino> <base>"
# command, optionally with the right config path. This is currently the only
# safe way to trigger a claim. The "%inode%" and "%base%" tokens will be
# replaced by the slab's inode/base that needs to be preloaded.
backend_claim_command = ""
