Source: potatofs
Section: utils
Priority: optional
Maintainer: Pascal Lalonde <plalonde@overnet.ca>
Build-Depends: debhelper-compat (= 13), fuse3, pkg-config, libjansson-dev, libncurses-dev, zlib1g-dev, libsqlite3-dev, libbsd-dev, libfuse-dev, uuid-dev, golang, golang-github-jmespath-go-jmespath-dev, golang-github-aws-aws-sdk-go-dev, golang-golang-x-crypto-dev, golang-github-burntsushi-toml-dev, golang-github-mattn-go-sqlite3-dev, golang-github-petar-gollrb-dev
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: potatofs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fuse3, jq, libjansson4 (>= 2.13.1), zlib1g, libbsd0 (>= 0.11.3), libfuse2 (>= 2.9.9), libsqlite3-0 (>= 3.34.1), libuuid1 (>= 2.36.1), libncursesw6 (>= 6)
Description: FUSE filesystem for high-latency backends
 PotatoFS is a FUSE filesystem implementation using external commands to
 interact with arbitrary backends. It is well-suited for high-latency backends
 such as cloud object storage providers. It also uses local, lower-lacenty
 local storage to cache data and perform I/O operations on portions of cached
 data.

Package: potatofs-backend-s3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: S3 backend for PotatoFS
 S3 backend for PotatoFS
